
.login-page{
    background-image: url('/public/p6.jfif'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app-name-container {
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px 0 20px 0; 
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .app-name {
    font-size: 24px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    color: #225654;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
  }
.login-container {
    background-color: rgba(247, 213, 168, 0.5); 
    padding: 40px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 15px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #333; 
    font-size: 26px;
    font-weight: 700; 
}
#em{
    text-align: left;
    font-weight: 500;
}
#pwd{
    text-align: left;
    font-weight: 500;
}
input {
    display: block;
    margin: 12px auto;
    padding: 12px;
    width: 90%; 
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    margin-left: 1px;
}

input:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

button {
    padding: 12px 12px;
    background-color: #1f8386;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px; 
    margin-right: 10px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:last-of-type {
    margin-bottom: 0; 
}

button:hover {
    background-color: #0d4d55;
}

.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 91%;
}

.password-toggle-icon {
    position: absolute;
    right: 50px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #666; 
}
#reg{
    text-decoration: none;
    color: #115e61;
}
#pw{
    text-decoration: none;
    color: #232525;
}
@media screen and (max-width: 400px){
    .login-container {
        background-color: rgba(247, 213, 168, 0.5); 
        padding: 20px;
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 200px;
        margin-bottom: 100px;
        border-radius: 15px; 
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
        width: 100%;
        max-width: 300px; 
        text-align: center;
        font-size: 0.8em;
    }
    button {
        padding: 8px 8px;
        background-color: #1f8386;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 10px; 
        margin-right: 5px ;
        font-size: 0.9em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}