
.login-page  {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    
    background-image: url('/public/libbb.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
}
.reg-page{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    
    background-image: url('/public/libbb.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
}
.app-name-container {
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px 0 20px 0; 
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .app-name {
    font-size: 24px;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    color: #225654;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
  }
.login-container {
    background-color: rgba(201, 161, 109, 0.9); 
    padding: 40px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 15px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    color: #333; 
    font-size: 26px;
    font-weight: 700; 
}

input {
    display: block;
    margin: 12px auto;
    padding: 12px;
    width: 90%; 
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus {
    border-color: #007bff; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

button {
    padding: 12px 20px;
    background-color: #e27115;
}